*{
  font-family: 'Nanum Gothic', sans-serif;
  margin-right: 5%;
  margin-left: 5%;
}
h1{
  text-align: center;
  border-bottom: solid;
}

input{
  margin-top: 10px;
  margin-bottom: 20px;
}

input[type=checkbox]{
  display:none;
}

input[type=radio]{
  display: none;
}

input[type=radio]{
  display:inline-block;
  cursor: pointer;
  outline: 0; 
  width: 28px;
  height: 28px;
  background-image: url(imgs/form-elements-sprite.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  text-indent: -99999px;
}

input[type=checkbox]{
  display:inline-block;
  cursor: pointer;
  outline: 0; 
  width: 28px;
  height: 28px;
  background-image: url(imgs/form-elements-sprite.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  text-indent: -99999px;
}



